main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:solid;
    border-radius: 30px;
    min-width: 60vmin;
    height: 70vh; /* ajusta a altura do container */
    position: relative;
    margin: 100px;
}

.container h1{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
  
.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Faz os elementos centralizarem verticalmente */
}

.password-row {
    display: flex;
    justify-content: center; /* Mantém os spans centralizados na mesma linha */
    align-items: center;
    margin-bottom: 20px;
    padding: 60px;
    border: solid;
    background-color: bisque;
}

.container_2{
    display: flex;         /* Organiza a left-div e right-div lado a lado */
    width: 100%;
    margin: 0;
    justify-content: space-between;
    border: solid;
    height: 650px;

}

.geral{
    flex: 3;               /* Ocupa 3/4 da largura */
    background-color: lightblue;
    padding: 20px;
    display: grid;          /* Usa Grid dentro da left-div */
    grid-template-columns: repeat(3, 1fr);  /* Três linhas de mesmo tamanho */
    gap: 10px;
    
}

#five{
    background-color: lightgreen;
    border: green solid;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    overflow-y: auto;
    gap:20px;
}

#ten{
    background-color: orange;
    border: orangered solid;    
    padding: 20px;
    display: flex;
    flex-direction: column; 
    overflow-y: auto;
    gap:20px;
}

#fif{
    background-color: red;
    border: orangered solid;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    overflow-y: auto;
    gap:20px;
}

#painel{
    flex: 1;              
    background-color: lightcoral;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column; 
    gap:20px;
}

.key-adm{
    cursor: pointer;
    padding: 60px;
    background-color: aliceblue;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fade-out {
    animation: fadeOut 1s forwards;
}