html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 30, 56);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: clamp(10px, 3vw, 20px);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid white;
    max-width: 400px;
    padding: 50px;
    border-radius: 30px;
    min-height: 50vh;
}

.container h1{
    color: white;
}

#counter{
    all: unset;
    padding: 3vmin;
    background-color: white;
}

#myMessage {
    opacity: 1;
    color: green;
}
 
#myButton{
    all: unset;
    background-color: rgb(182, 182, 182);
    border-radius: 10px;
    margin-top: auto;
    padding: 2vmin;
    margin-bottom: 20%;
}

#next{
    all: unset;
    border-radius: 10px;
    padding: 1vmax;
    background-color: aliceblue;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 2vmax;
    z-index: 2;
    cursor: pointer;
}

@media (max-width: 768px) {
    #nextPage {
        position: static;
        margin: unset;
        margin-top: 10%;
    }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fade-out {
    animation: fadeOut 1s forwards;
}

.geral{
    display: flex;
    padding:2%;
    justify-content: space-around;
    border: solid;
    height: 70vh;
}

.five_min{
    border: solid;
    padding: 20px;
}

.ten_min{
    border: solid;
    padding: 20px;
}

.fif_min{
    border: solid;
    padding: 20px;
}