html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 30, 56);
    flex-direction: column;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh; 
    border-radius: 30px;
    background-color: rgb(1, 47, 86);
    box-shadow:0 0 20px black;
    position: relative;
    width: 500px;
    z-index: 1;
}
.container h1{

    width: fit-content;
    position: absolute;
    top:0;
    color: antiquewhite;
    padding: 40px 0px;
}


#myMessage {
    opacity: 1;
    color: green;
    height: 8%;
    font-size: 25px;
    position: absolute;
    bottom: 0;
}

#myButton{
    all: unset;
    background-color: rgb(182, 182, 182);
    padding: 20px 50px;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: 20%;
}

#nextPage{
    all: unset;
    padding: 20px 50px;
    background-color: aliceblue;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 70px 100px;
    z-index: 2;
    cursor: pointer;
}

@media (max-width: 768px) {
    #nextPage {
        position: static;
        margin-top: 20px;
    }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fade-out {
    animation: fadeOut 1s forwards;
}
